{% extends 'base.twig' %}

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">Watch your player's ScreenShots!</h1>
        <p class="lead">
            InSSpector is a simple screenshot viewer for your servers.
            You can define one or more easily, and make your property cheatless.
            <br/>Edit the config.yml as the README explains!
        </p>
        <p class="lead">
            <a href="https://github.com/Mikopet/InSSpector" class="btn btn-lg btn-info" target="_blank">Learn more</a>
            <a href="https://github.com/Mikopet/InSSpector/issues" class="btn btn-lg btn-warning" target="_blank">Report issues</a>
        </p>
    </div>
{% endblock %}