{% extends 'base.twig' %}

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">{{ server.name }}</h1>
        <p class="lead">What you want to see? Last shots? A shots of a specified player? Maybe regex?</p>
        {% if lastShot %}
        <p class="lead">
            <a href="{{ path('shots', {'server': currentServer, 'shot': "last"}) }}" class="btn btn-lg btn-default">
                Last ScreenShot
            </a>
        </p>
        {% endif %}
    </div>
{% endblock %}