{% extends 'base.twig' %}

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">Watch your players screenshots!</h1>
        <p class="lead">InSSpector is a one-page screenshot viewer for your servers. You can define one or more simply,
            and make your property cheatless. Edit the config.yml as the README explains!</p>
        <p class="lead">
            <a href="https://github.com/Mikopet/InSSpector" class="btn btn-lg btn-default" target="_blank">Learn more</a>
        </p>
    </div>
{% endblock %}