{% extends 'base.twig' %}

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">{{ server.name }}</h1>
        <p class="lead">What you want to see? Last shots? A shots of a specified player? Maybe regex?</p>
        <p class="lead">
            <a href="https://github.com/Mikopet/InSSpector" class="btn btn-lg btn-default" target="_blank">Learn more</a>
        </p>
    </div>
{% endblock %}